:root
{
	--simba-dark: #2a2831;

	--simba-primary: #078e8d;
	--simba-primary-hover: #017574;
	--simba-primary-active: #016a68;
	--simba-primary-focus: #005e5d;
	--simba-primary-focus-border: #005e5d57;
	--simba-primary-focus-tf: #005e5d8f;
	--simba-primary-focus-tf-border: #005e5d42;
}

.btn-primary
{
	background-color: var( --simba-primary );
	border-color: var( --simba-primary );
}

.btn-primary:hover
{
	background-color: var( --simba-primary-hover );
	border-color: var( --simba-primary-hover );
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle
{
	background-color: var( --simba-primary-active );
	border-color: var( --simba-primary-active );
}

.btn-primary.focus,
.btn-primary:focus
{
	background-color: var( --simba-primary-focus );
	border-color: var( --simba-primary-focus-border );
	box-shadow: 0 0 0 .2rem var( --simba-primary-focus-border );
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus
{
	box-shadow: 0 0 0 .2rem var( --simba-primary-focus-border );
}

.form-control:focus
{
	border-color: var( --simba-primary-focus-tf );
	box-shadow: 0 0 0 .2rem var( --simba-primary-focus-tf-border );
}

.input
{
	accent-color: var( --simba-primary );
}

.text-primary
{
	color: var( --simba-primary ) !important;
}

footer.sticky-footer
{
	padding: 20px 0;
}

.dropdown-item.active,
.dropdown-item:active
{
	background-color: var( --simba-primary );
}

.topbar .navbar-search
{
	width: 350px;
}

.btn-link
{
	color: var( --simba-primary );
}

.btn-link:hover
{
	color: #ffffff;
	background-color: var( --simba-primary-hover ) !important;
}

.btn.btn-primary.focus,
.btn.btn-primary:focus
{
	border-color: var( --simba-primary-focus-tf );
	box-shadow: 0 0 0 .2rem var( --simba-primary-focus-tf-border );
}

.btn-primary.disabled,
.btn-primary:disabled
{
	color: #ffffff;
	background-color: var( --simba-primary-hover ) !important;
	border-color: var( --simba-primary-focus-tf );
}

.topbar .dropdown-list .dropdown-header
{
	background-color: var( --simba-primary );
	border: 1px solid var( --simba-primary-focus-border );
}

.border-left-primary
{
	border-left: .25rem solid var( --simba-primary ) !important;
}

a
{
	color: var( --simba-primary );
}

a:hover
{
	color: var( --simba-primary-hover );
}

.bg-primary
{
	background-color: var( --simba-primary ) !important;
}

.table td,
.table th
{
	padding: 6px;
}

@media ( min-width: 576px )
{
	.topbar .dropdown-list
	{
		width: 400px !important;
	}
}

@media screen and ( max-width: 576px )
{
	.container
	{
		width: 100% !important;
	}
}

.sidebar.closed .nav-item
{
	/*display: none !important;*/
	visibility: hidden !important;
}



.color-danger
{
    color: rgb(169, 20, 20);
    font-weight: 700;
}

.color-warning
{
    color: rgb(169, 87, 20);
    font-weight: 700;
}



.fieldset
{
	padding: 16px 10px;
	/*border: 1px solid #e3e6f0;*/
	border: 1px solid #d3d7e4;
	border-radius: 4px;
}

.fieldset legend
{
	width: auto;
	padding: 4px;
	font-size: 14px;
}



.tag-label
{
	padding: 4px 14px;
	color: #ffffff;
	background-color: rgb(100, 100, 52);

	border-radius: 4px;

	white-space: nowrap;
}



textarea.input
{
	min-height: 150px;
}



.modal
{
	overflow-y: auto;
}



.color-box
{
	width: 20px;
	height: 20px;
	display: table;
	border-radius: 4px;
}